.row {
  max-width: $grid-width;
  background-color: #eee;
  margin: 0 auto;
  // not psuedo class -- select everything except the last child (last child the psuedo class without the change)
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    background-color: orangered;
    //need to float all columns to the left
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}
